
.home-container {
  width: 60%
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .main-container {
      grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
      grid-template-columns: 1fr;
  }
}

.home-container {
  margin: auto;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  .home-container {
    width: 90%;
  }
}


.header {
  border-bottom: 1px solid #689fab;
  border-bottom-width: 2px;
  margin-bottom: 2.45rem;
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 420px) {
  .header {
    width: 90%;
  }
}



.image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}


.link-container {
  position: relative;
  height: 300px;
  transition: transform .2s;
}


.link-container:hover {
  transform: scale(1.05);
}

.about-page-container {
  margin: 30px;
  margin-top: 60px;
}

.main-container {
  margin: 30px;
  margin-top: 60px;
}

.r10-container {
  margin: 30px;
  margin-top: 60px;
}

.hero-text-container {
  margin-top: 80px;
  margin-bottom: 100px;
  width: 70%;
}

@media only screen and (max-width: 800px) {
  .hero-text-container {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .hero-text-container {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 420px) {
  .hero-text-container {
    margin-top: 20px;
  }
}

.title-description {
  line-height: 1.5;
  max-width: 40.35rem;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
}

@media only screen and (max-width: 420px) {
  .title-description {
    font-size: 15px;
  }
}

.image-text-container {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(255,255,255, 0.9);

}

.image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  object-fit: cover;
}

.post-title {
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
  margin: 0px;

}

.project-container {
  margin: 10px;
}


a {
  text-decoration: none;
}

.skills-container {
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
}

.skills {
  color: black;
  padding-left: 10px;
  font-style: italic;
  margin-right: 10px;
  font-size: 15px;
  margin-top: -10px;
  padding-top: 10px;
  font-family: "Exo 2", sans-serif;
}

.bottom-border {
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -20px;
}

.description-text {
  font-size: 23px;
  font-weight: normal;
  font-family: "Exo 2", sans-serif;
}

.about-title {
  font-family: "Exo 2", sans-serif;
  font-size: 40px;
}

p {
  font-family: "Exo 2", sans-serif;
}


.r10_img {
  display: flex;
  flex-flow: row nowrap;
  width: 30%;
  height: 470px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  object-fit: cover;
}



.about_page {
  display: flex;
  flex-flow: row nowrap;

}

.r10_image_conatiner {
  display: flex;
  flex-flow: row wrap;
}

.r10-github-link {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

.header-text-container {
  display: flex;
  max-width: 960;
  padding-top: 20px;
}

.nav-buttons {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}

.name {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.nav-text {
  color: black;
  font-weight: 100;
  cursor: pointer;
  font-size: 0.95em;
  text-transform: uppercase;
  padding-top: 10px;
  transition: font-weight .4s ease-in-out;
  font-family: "Exo 2", sans-serif;
}

.icon {
  color: black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1.2em;
  font-family: "Exo 2", sans-serif;
}

.icon:hover{
  color: #689fab;
  transition: 0.5s;
}

.icons-container {
  display: flex;
  flex-flow: row nowrap;
}

.text-header-container {
    margin: 10px;
    margin-left: 3em;
    margin-right: 3em;
}

@media only screen and (max-width: 900px) {
  .text-header-container {
      margin-left: 1em;
      margin-right: 1em;
  }
  .nav-text {
    font-size: 0.95em;
  }
}

@media only screen and (max-width: 600px) {
  .nav-text {
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 420px) {
  .nav-text {
    font-size: 0.65em;
  }
}



.nav-text:hover {
  font-weight: 900;
}



.name-title {
  font-size: 50px;
}

.text-line text {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s linear forwards, filling 4s ease-in forwards;
  animation-delay: 0s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0%{
    fill: 'none';
    fill-opacity: 0;
  }
  50%{
    fill: black;
    fill-opacity: 0;
  }
  100% {
    fill: black;
    fill-opacity: 1;
  }
}

.name-text {
  font-weight: normal;
  font-style: normal;
  font-size: 70px;
  font-family: "Exo 2", sans-serif;
}

@media only screen and (max-width: 850px) {
  .name-text {
    font-size: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .name-text {
    font-size: 40px;
  }
}

@media only screen and (max-width: 420px) {
  .name-text {
    font-size: 25px;
  }
}

.r10-title {
  font-family: "Exo 2", sans-serif;
}

.r10-text {
  font-family: "Exo 2", sans-serif;
}





